extends layout

block content
  h1= title
  #form-main
  #form-div
    form#form1.form(method="post", action="contact/send")
      p.name
        input#name.feedback-input(name="name", type="text", class="validate[required,custom[onlyLetter],length[0,100]]", placeholder="Name")
      |       
      |       
      p.email
        input#email.feedback-input(name="email", type="text", class="validate[required,custom[email]]", placeholder="Email")
      |       
      |       
      p.text
        textarea#comment.feedback-input(name="text", class="validate[required,length[6,300]]", placeholder="Comment")
      |       
      |       
      |       
      .submit
        input#button-blue(type="submit", value="SEND")
        |         
        .ease

