doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      nav.navbar.navbar-inverse.navbar-default(role="navigation")
          .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
              span.sr-only Toggle navigation
              |         
              span.icon-bar
              |         
              span.icon-bar
              |         
              span.icon-bar
            |       
            a.navbar-brand(href="/") expresso
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav 
              li(class=(title=="members" ? 'active' : ''))
                a(href="/") members
              |  
              if !user       
                  li(class=(title=="register"? 'active':''))
                    a(href="/users/register") register
                  |         
                  li(class=(title=="login"? 'active':''))
                    a(href="/users/login") login
            ul.nav.navbar-nav.navbar-right
             if user       
                 li(class=(title=="logout"? 'active':''))
                    a(href="/users/logout") logout
                  
              
                
            |       
               
            
              
        

  .container
   !=messages()
   block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
