extends layout

block content
	h1 Login
	p Please login blow
	form(method='post' ,action='/users/login',enctype='multipart/form-data')
		.form-group
			lable UserName
			input.form-control(name='username', type='text', placeholder='user name')
		.form-group
			lable Password
			input.form-control(name='password', type='password')
		button.btn.btn-default(type='submit') Login
	