extends layout

block content
	h1 Register
	p Please using fields blow
	ul.errors
		if errors
			each error , i in errors
				li.alert.alert-danger #{error.msg}
	form(method='post' ,action='/users/register',enctype='multipart/form-data')
		.form-group
			lable Name
			input.form-control(name='name', type='text', placeholder='name')
		.form-group
			lable email
			input.form-control(name='email', type='email',placeholder='email')
		.form-group
			lable username
			input.form-control(name='username', type='text', placeholder='username')
		.form-group
			lable password
			input.form-control(name='password', type='password', placeholder='password')		
		.form-group
			lable rpassword
			input.form-control(name='password1', type='password', placeholder='confirm')		
		.form-group
			lable profileimage
			input.form-control(name='profileimg' ,type='file')
		button.btn.btn-default(type='submit') Register
	